footer .container {
	width: 80%;
	clear: both;
	background: slategrey;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	color: lightgrey;
	letter-spacing: 2px; 
	text-align: center;
	z-index: 10;
	padding: 1%;
	margin: 0 0 0 20%;
	position: relative;
}

