$almond: #F9EEE8;
$cielo: #E4E4F5;
$news: #DAD0CE;


@mixin header-h2 (){
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size:40px;
	color:black;
	text-transform:uppercase;
}
@mixin framed-header-h2(){
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size:40px;
	color:black;
	text-transform:uppercase;
	
}
@mixin header-h3 (){
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size:20px;
	color:black;
}
@mixin event-p (){
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size:16px;
	color:black;
}

@mixin section (){
	padding:6% 0;
}
