@media (max-width: 1150px){
	.event-h2 {
		top:22px;
		left:20%;
	}
}
@media (max-width: 1015px){
	.navigation .nav {
		font-size:25px;
	}
	.story-container {
		width: 40%;
	}
	.profile-pic img {
		width: 100%;
	}
}
@media(max-width:960px){
	.event-h2{
		top:14px;
	}
}