// ==================
// START OF OUR STORY
h3 {
	@include header-h3;
}
.story {
	background: white;
	text-align:center;
	@include section;
}
.story-h2 {
	text-align:center;
	@include header-h2;
}
.outer-story-container {
	display:flex;
	padding:5%;
}

.story-container {
	width: 45%;
	flex-direction:row;
	margin:0 auto;
	p {
		font-size: 14px;
	}
}
.profile-pic{
	text-align:center;

	img {
	max-width:300px;
	border-radius:50%;
	}
}